<configuration>
	<property name="COMPONENT_NAME" scope="context"
		value="Bootstrap" />
	<property name="IOTHUB_INSTALL_PATH_ENV" value="${user.dir}" />
	<property name="LOG_FILE_BASE_PATH" value="${user.dir}" />
	<property name="APP_NAME" value="JPA Example" />

	<appender name="IOTHUBLOGGER"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_FILE_BASE_PATH}/logs/JPAExample.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_FILE_BASE_PATH}/logs/JPAExample.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="com.philips.services.iot.logger.loggerpolicy.StartupSizeAndTimeBasedFNATP">
				<!-- Size of single log file -->
				<maxFileSize>5MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d %p %c{1.} [%t] %m%n</pattern>
		</encoder>

	</appender>

	<logger name="org.springframework" level="warn"
		additivity="false">
		<appender-ref ref="IOTHUBLOGGER" />
	</logger>

	<logger name="org.apache.http" level="warn" additivity="false">
		<appender-ref ref="IOTHUBLOGGER" />
	</logger>

	<logger name="groovyx.net.http" level="warn" additivity="false">
		<appender-ref ref="IOTHUBLOGGER" />
	</logger>

	<root name="iothublogger" level="info">
		<appender-ref ref="IOTHUBLOGGER" />
	</root>
</configuration>
